body{
    overflow-x:hidden;
    overflow-y:scroll;
    min-height:100vh;
}
#image{
    background-image:url("https://planetavirtual502.com/wp-content/uploads/2023/11/E-commerce-brasileiro-lidera-o-ranking-mundial-de-crescimento.jpeg");
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    background-size:cover;
}
#logoB{
    background-color:rgb(159, 78, 234);
    width:100vw;
    height:20%;
    margin:0;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
#logo{
    color:white;
    text-shadow:0 0 1px white,
    0 0 2px white;
    font-family:"Pacifico", cursive;
    margin:10px;
}
#scroll{
    position:absolute;
    top:70%;
    left:50%;
    transform:translate(-50%,-50%);
    width:90%;
    height:70%;
    overflow-x:auto;
    display:flex;
    scroll-behavior:smooth;
    scroll-snap-type:x mandatory;
}
.para{
    color:white;
    text-shadow:0 0 2px white,
    0 0 4px white,
    0 0 6px black;
    border:0.5vw solid blueviolet;
    font-family:cursive;
    padding:2vw;
    scroll-snap-align:center;
    flex:0 0 80%;
    width:2vw;
    height:fit-content;
    backdrop-filter:blur(50px);
    border-radius:20px;
    font-size:1.5vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
}  
#para4,#para0{
    border:none;
    backdrop-filter:blur(0);
    display:hidden;
    background-color:rgb(255, 255, 255,0);
}
#scroll::-webkit-scrollbar {
    height: 12px;
}
#scroll::-webkit-scrollbar-track {
    background:none;
}
#scroll::-webkit-scrollbar-thumb {
    background:none;
    border-radius: 6px;
}
body::-webkit-scrollbar{
    width:0px;
}
#scroll > div > .bold{
    margin:0;
    font-size:3vw;
    font-weight:200;
    color:blueviolet;
    text-shadow:0 0 2px blueviolet,
    0 0 4px blueviolet,
    0 0 6px black;
}
footer{
    font-family:'Courier New', Courier, monospace;
    font-size:1em;
    padding:20px;
    background-color:rgb(70, 70, 70,0.8);
    width:98.2%;
    height:70%;
    z-index:1;
    position:absolute;
    top:100%;
    left:0;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}
footer>#container>section>ul{
    list-style:none;
    padding:10px;
    margin:10px;
}
footer>div>section>ul>li{
    padding:2px;
    text-decoration:underline;
}
section{
    position:relative;
    width:100%;
    height:50%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    color:white;
    text-shadow:0 0 10px white;
    cursor:pointer;
}
a{
    color:white;
}
h3{
    padding:0px;
}
#container{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start;
}
hr{
    margin:0;
    background-color:white;
    color:white;
    width:80vw;
    height:1px;
    border-radius:50px;
    box-shadow:0 0 10px 2px white;
}
#logoF{
    color:white;
    text-shadow:0 0 1px white,
    0 0 2px white;
    font-family:"Pacifico", cursive;
}
#symbols{
    font-size:2em;
    color:white;
    padding-top:25px;
    padding-left:0;
    padding-right:0;
    text-shadow:0 0 10px white,
    0 0 20px black;
}
