body{
    overflow:hidden;
}
#background{
    z-index:-2;
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    background: radial-gradient(circle 450px at 30% 50%, #0b5c6e, #03194a ,#01123e);
    backdrop-filter:blur(20px);
}
#element_container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row-reverse;
    justify-content:space-around;
    align-items:center;
    align-content:space-around;
}
#logo{
    z-index:1;
    font-family:"Pacifico", cursive;
    font-size:clamp(20px,1.5vw,100px);
    text-shadow:0 0 1px black,
    0 0 2px white,
    0 0 3px white;
    color:white;
}
#design_container{
    position:relative;
    width:clamp(250px,30vw,300px);
    height:clamp(250px,30vw,300px);
    display:flex;
    justify-content:center;
    align-items:center;
}
#container{
    z-index:1;
    background-color:rgb(255, 255, 255, 0.2);
    width:85%;
    height:85%;
    display:flex;
    border-radius:2vw;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:center;
    backdrop-filter:blur(8px);
    box-shadow:inset 0 0 7px white,
    0 0 5px #0287fc,
    0 0 10px #0287fc;
}
.logo{
    color:black;
    font-size:clamp(20px,1.5vw,100px);
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    text-align:center;
    width:49%;
    height:49%;
    border-radius:50%;
}
.design{
    z-index:0;
    background-image:linear-gradient(45deg,rgba(8, 27, 253),rgba(8, 217, 245));
    box-shadow:0px 0px 10px #063944;
    position:absolute;
    width:80%;
    height:80%;
    border-radius:20px;
    animation:rotate 7s infinite forwards;
}
#d_design{
    z-index:-1;
    border-radius:20px;
    width:90%;
    height:90%;
    position:absolute;
    background-image:linear-gradient(45deg,rgba(8, 27, 253),rgba(8, 217, 245));
    box-shadow:0 0 20px #0287fc;
    animation:rotate 7s infinite forwards;
}
form{
    box-shadow:-5px -5px 9px 1px rgb(255, 255, 255, 0.2),
    5px 5px 9px 1px rgb(0, 0, 0, 0.8);
    background-color:rgb(222, 221, 221);
    position:relative;
    border-radius:20px;
    padding:clamp(25px,2vw,100px);
}
form>input{
    position:relative;
    width:clamp(200px,25vw,300px);
    height:clamp(25px,5vh,300px);
    margin-top:7px;
    margin-bottom:7px;
    outline:none;
    background-color:rgb(222, 221, 221);
    box-shadow:4px 4px 8px 1px rgb(0,0,0,0.25),
    -4px -4px 8px 1px rgb(255, 255, 255);
    border:none;
    border-radius:20px;
    padding:clamp(8px,1vw,100px);
    color:black;
    font-family:cursive;
    transition:box-shadow 0.8s ease-in-out, transform 0.8s ease-in-out;
}
form>input:hover{
    box-shadow:2px 2px 4px 1px rgb(181, 180, 180),
    -2px -2px 4px 1px white;
    transform:scale(0.99);
}
form>label{
    font-weight:1000;
    font-size:clamp(10px,1.5vw,100px);
    font-family:cursive;
    width:100%;
    background:linear-gradient(50deg,rgba(38, 159, 242),rgba(62, 57, 218));
    background-clip:text;
    -webkit-text-fill-color:transparent;
}
form>button{
    position:relative;
    display:block;
    border:none;
    outline:none;
    border-radius:9vw;
    background:linear-gradient(50deg,rgba(38, 159, 242),rgba(62, 57, 218));
    color:white;
    text-shadow:0 0 1px white,
    0 0 2px white,
    0 0 3px white;
    padding:clamp(8px,1vw,100px);
    width:clamp(150px,20vw,300px);
    height:clamp(35px,5vh,300px);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1;
    font-size:clamp(10px,1.5vw,100px);
}
form>button::after{
    content:'';
    background:linear-gradient(50deg,rgba(38, 159, 242),rgba(62, 57, 218));
    width:calc(100% + 1vw);
    height:calc(100% + 1vw);
    position:absolute;
    border-radius:9vw;
    z-index:-1;
    filter:blur(2px);
}
@keyframes rotate{
    from{
        transform:rotateZ(45deg);
    }
    to{
        transform:rotateZ(405deg);
    }
}
.shapes{
    background:linear-gradient(90deg,rgba(16, 28, 76),#000B26);
    position:absolute;
    width:20vw;
    height:20vw;
    box-shadow:0 0 30px #000B26;
    border-radius:.5vw;
    z-index:-1;
}
#shapes1{
    top:-10%;
    right:0;
    transform:rotate(45deg) scale(1.3);
}
#shapes2{
    top:5%;
    right:-10%;
    transform:rotate(45deg);
}
#shapes3{
    top:25%;
    right:0%;
    transform:rotate(45deg) scale(0.8);
}
#shapes4{
    top:40%;
    right:-10%;
    transform:rotate(45deg);
}
#shapes5{
    bottom:-10%;
    right:0%;
    transform:rotate(45deg) scale(1.3);
}
@media (min-width:320px) and (max-width:400px){
    body{
        overflow-y:auto;
    }
    #element_container{
        height:200%;
        flex-direction:column;
        justify-content:space-around;
    }
    #background{
        height:200vh;
    }
    #design_container{
        margin:0;
    }
    .shapes{
        width:40vw;
        height:40vw;
        border-radius:2vw;
    }
}
@media (min-width:400px) and (max-width:640px){
    body{
        overflow-y:auto;
    }
    #element_container{
        height:200%;
        flex-direction:column;
        justify-content:space-around;
    }
    #background{
        height:200vh;
    }
    #design_container{
        margin:0;
    }
    .shapes{
        width:40vw;
        height:40vw;
        border-radius:2vw;
    } 
}
