body{
    overflow:hidden;
}
#background{
    z-index:-2;
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    background-image:linear-gradient(to bottom left,rgb(66, 187, 248) 10%,rgb(3, 70, 253) 90%);
}
#logo{
    z-index:1;
    font-family:"Pacifico", cursive;
    font-size:2em;
    text-shadow:0 0 1px black,
    0 0 2px white,
    0 0 3px white;
    color:white;
}
#container{
    z-index:2;
    position:absolute;
    top:50%;
    left:30%;
    transform:translate(-50%,-50%);
    width:200px;
    height:200px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-items:start;
    align-items:center;
}
.logo{
    text-shadow:0 0 1px cyan,
    0 0 2px cyan;
    color:black;
    font-size:30px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    text-align:center;
    width:49%;
    height:49%;
    border-radius:50%;
}
.design{
    z-index:1;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    top:50%;
    left:30%;
    width:250px;
    height:250px;
    border-radius:20px;
    transform:translate(-50%,-50%);
    transform-origin: center;
    box-shadow:0 0 10px 3px #093b92;
    animation:rotate 7s infinite ease-in-out;
}
.design::before{
    z-index:-1;
    border-radius:20px;
    width:110%;
    height:110%;
    content:'';
    position:absolute;
    background-image:linear-gradient(45deg,blue,transparent,cyan);
    box-shadow:0 0 10px 3px #093b92;
}
form{
    box-shadow:-9px -10px 18px 1px #79a7f8,
    8px 10px 5px 1px #1d62da;
    background-color:rgb(231, 230, 230);
    width:30vw;
    position:absolute;
    top:50%;
    right:20px;
    transform:translateY(-50%);
    border-radius:20px;
    padding:20px;
    margin:5px;
}
form>input{
    width:80%;
    margin-top:7px;
    margin-bottom:7px;
    outline:none;
    background-color:rgb(222, 221, 221);
    box-shadow:10px 8px 10px 1px rgb(181, 180, 180),
    -10px -8px 13px 0px white;
    border:none;
    border-radius:20px;
    padding:10px;
    color:black;
    font-family:cursive;
}
form>label{
    font-weight:1000;
    font-size:0.9em;
    font-family:cursive;
    color:rgb(5, 5, 152);
    width:100%;
}
form>button{
    box-shadow:6px 4px 4px 1px rgb(181, 180, 180),
    -10px -8px 13px 0px white;
    display:block;
    border:none;
    outline:none;
    border-radius:20px;
    background-color:rgb(39, 39, 252);
    color:white;
    text-shadow:0 0 1px white,
    0 0 2px white,
    0 0 3px white;
    padding:10px;
    width:60%;
}
@keyframes rotate{
    0%,100%{
        transform:translate(-50%,-50%) rotateZ(45deg);
    }
    50%{
        transform:translate(-50%,-50%) rotateZ(360deg);
    }
}